﻿@model List<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<u1>
    @foreach (var item in Model)
    {
        <div class="form-group">
            <h3><li>@item.Name - @item.Users.Count</li></h3>
            </div>
           
            }
</u1>
<h2>@Html.ActionLink("Yeni Rol Ekle", "RolEkle")</h2>
