﻿@model ProjeSahaf.Areas.Admin.Models.RolEkleModel
@{
    ViewBag.Title = "Rol Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Rol Ekle</h2>

@using (Html.BeginForm("RolEkle", "RolYonetim", FormMethod.Post))
{
    @Html.TextBoxFor(m => m.RolAd)
    <input type="submit" value="Rol Ekle" class="btn btn-primary">
}
