﻿
@model ProjeSahaf.Areas.Admin.Models.RolKullaniciEkleModel
@{
    ViewBag.Title = "RolKullaniciEkle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kullanıcı Rolü Ekle</h2>

@using (Html.BeginForm("RolKullaniciEkle", "RolYonetim", FormMethod.Post))
{<form class="form-horizontal" id="popup-validation">

        <div class="form-group">
            @Html.TextBoxFor(m => m.KullaniciAdi)
            <div class=" col-lg-4">
                @Html.LabelFor(m => m.KullaniciAdi)
            </div>
        </div>

        <div class="form-group">
            @Html.TextBoxFor(m => m.RolAdi)
            <div class=" col-lg-4">
                @Html.LabelFor(m => m.RolAdi)
            </div>
        </div>
     <div>
         <input type="submit" value="Ekle" class="btn btn-primary">
     </div>
    </form>
        }
