﻿@model ProjeSahaf.Slider

@{
    ViewBag.Title = "Sil";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>SİL</h2>
<h3>Silmek istediğinize emin misiniz?</h3>
</br>
@Model.SliderText
</br>
@Html.ActionLink("Kabul Ediyorum", "DeleteConfirm", new { id = Model.SliderID });
</br>
@Html.ActionLink("Kabul Etmiyorum", "Index");
