﻿@model List<Slider>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
        
             
                        <div class="col-lg-6">
                          
                                <header>
                                    <h3><a>SLİDER EKLEME</a></h3>
                                    @*<div class="toolbar">
                                        <div class="btn-group">
                                            <a href="#defaultTable" data-toggle="collapse" class="btn btn-sm btn-default minimize-box">
                                                <i class="fa fa-angle-up"></i>
                                            </a>
                                            <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                        </div>
                                    </div>*@
                                </header>
                                @*<div id="defaultTable" class="body collapse in">*@
                                    <table class="table responsive-table">
                                        <thead>
                                            <tr>
                                    
                                                <th>ID</th>
                                                <th>Başlangıç Tarihi</th>
                                                <th>Bitiş Tarihi</th>
                                                <th>Kitap Adı</th>
                                                <th>Yazar Adı</th>
                                                <th>Kitap Bilgisi</th>
                                                <th>Resim Yolu</th>
                                                <th> </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.SliderID</td>
                                                    <td>@item.BaslangicTarihi</td>
                                                    <td>@item.BitisTarihi</td>
                                                    <td>@item.SliderBaslik</td>
                                                    <td>@item.YazarAdi</td>
                                                    <td>@item.SliderText</td>
                                                    <td>@item.ResimYolu</td>
                                                    <td>@Html.ActionLink("Düzenle","Edit","Slider", new { id = item.SliderID },null ) | @Html.ActionLink("Sil", "Delete", "Slider", new { id = item.SliderID }, null)</td>
                                                </tr>
                     

                                            }
                                            
                                        </tbody>
                                    </table>
                                </div>
                            @*</div>*@
               
                   