﻿@{
    ViewBag.Title = "Index";
}

<h2>TR / ENG</h2>
<h3>
    <li>
        @Html.ActionLink("English", "Change", "Language", new { languageSelect = "en" }, null)
    </li>
    <p> --------------------- </p>
    <li>
        @Html.ActionLink("Türkçe", "Change", "Language", new { languageSelect = "tr" }, null)
    </li></h3>
