﻿@model IEnumerable<Kitaplar>

@{
    Layout = null;
}

        <figure class="span4">
            <h4>@Resources.Home.cok_satanlar</h4>
            <ul class="f2-img-list">
                @foreach( var item in Model){
                
                <li>
                    <div class="left"><a href="book-detail.html"><img src="@item.kucukresim" /></a></div>
                    <div class="right"> <strong class="title"><a href="book-detail.html">@item.KitapAdi</a></strong> <span class="by-author">@item.text</span> <span class="f-price">@item.SatisFiyati</span> </div>
                </li>

                }
                
            </ul>
        </figure>
        