﻿@model IEnumerable<Kitaplar>
@{
    Layout = null;
}

<section class="list-holder">
    @foreach (var item in Model) { 
    <article class="item-holder">
        <div class="span2">
            <a href="book-detail.html"><img src="@item.Aciklama" alt="Image07" /></a>
        </div>
        <div class="span10">
            <div class="title-bar"><a href="book-detail.html">@item.KitapAdi</a> <span>@item.text</span></div>
            <strong>1 @Resources.Home.yorumlar</strong>
            <span class="rating-bar"><img alt="Rating Star" src="~/Content/images/rating-star.png"></span>
            <p>@item.ortaresim </p>
            <div class="cart-price">
                <a href="cart.html" class="cart-btn2">@Resources.Home.karta_ekle</a>
                <span class="price">@item.SatisFiyati</span>
            </div>
        </div>
    </article>}
   
</section>
