﻿@model IEnumerable<Kitaplar>

@{
    Layout = null;
}

<section class="row-fluid features-books">
    <section class="span12 m-bottom">
        <div class="heading-bar">
            <h2>@Resources.Home.son_eklenenler</h2>
            <span class="h-line"></span>
        </div>
<div class="slider1">
    @foreach (var item in Model)
    {
       

        <div class="slide"> 
            <a href="book-detail.html"><img src="@item.Aciklama" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">@item.KitapAdi</a></span> <span class="rating-bar"><img src="/Content/images/rating-star.png" alt="Rating Star" /></span>
            <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to cart</a> <span class="price">@item.SatisFiyati</span> </div>
        </div>
    }
        </div>
    </section>
</section>

