﻿@model IEnumerable<Slider>
@{
    Layout = null;
}

<!-- Start Main Content Holder -->
        <section class="book-box">
            <div class="book-outer">
                <div id="mybook">
                    @foreach (var item in Model)
                    {
                        <div title="first page">
                            <div class="left-page">
                                <div class="frame"><img src="@item.ResimYolu" alt="img"></div>
                                <div class="bottom">
                                    <div class="cart-price"> <span class="cart">&nbsp;</span> <strong class="price">@item.Text</strong> </div>
                                </div>
                            </div>
                        </div>
                        <div title="second page">
                            <div class="right-page">
                                <div class="text">
                                    <h1>@item.SliderBaslik</h1>
                                    <strong class="name">@item.YazarAdi</strong>
                                    <div class="rating-box"><img src="/Content/images/rating-img.png" alt="img"></div>
                                    <a href="#" class="btn-shop">SATIN AL</a>
                                </div>
                                <div class="bottom">
                                    <div class="text">
                                        <div class="inner">
                                            <p>@item.SliderText</p>
                                            <a href="#" class="readmore">Devamı</a>
                                        </div>
                                        <div class="batch-icon"><img src="/Content/images/batch-img.png" alt="img"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                    @*<div title="third page">
                            <div class="left-page">
                                <div class="frame"><img src="/Content/images/image01.jpg" alt="img"></div>
                                <div class="bottom">
                                    <div class="cart-price"> <span class="cart">&nbsp;</span> <strong class="price">$149.50</strong> </div>
                                </div>
                            </div>
                        </div>
                        <div title="fourth page">
                            <div class="right-page">
                                <div class="text">
                                    <h1>dsfdsfParenting - For Early Years</h1>
                                    <strong class="name">by Bonnier</strong>
                                    <div class="rating-box"><img src="/Content/images/rating-img.png" alt="img"></div>
                                    <a href="#" class="btn-shop">SHOP NOW</a>
                                </div>
                                <div class="bottom">
                                    <div class="text">
                                        <div class="inner">
                                            <p>Curabitur lreaoreet nisl lorem in pellente e vidicus pannel impirus sadintas velisurabitur lreaoreet nisl lorem in pellente vidicus pannel.</p>
                                            <a href="#" class="readmore">Read More</a>
                                        </div>
                                        <div class="batch-icon"><img src="/Content/images/batch-img.png" alt="img"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div title="fifth page">
                            <div class="left-page">
                                <div class="frame"><img src="/Content/images/image01.jpg" alt="img"></div>
                                <div class="bottom">
                                    <div class="cart-price"> <span class="cart">&nbsp;</span> <strong class="price">$149.50</strong> </div>
                                </div>
                            </div>
                        </div>
                        <div title="sixth page">
                            <div class="right-page">
                                <div class="text">
                                    <h1>Parenting - </h1>
                                    <strong class="name">by Bonnier</strong>
                                    <div class="rating-box"><img src="/Content/images/rating-img.png" alt="img"></div>
                                    <a href="#" class="btn-shop">SHOP NOW</a>
                                </div>
                                <div class="bottom">
                                    <div class="text">
                                        <div class="inner">
                                            <p>Curabitur lreaoreet nisl lorem in pellente e vidicus pannel impirus sadintas velisurabitur lreaoreet nisl lorem in pellente vidicus pannel.</p>
                                            <a href="#" class="readmore">Read More</a>
                                        </div>
                                        <div class="batch-icon"><img src="/Content/images/batch-img.png" alt="img"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div title="seventh page">
                            <div class="left-page">
                                <div class="frame"><img src="/Content/images/image01.jpg" alt="img"></div>
                                <div class="bottom">
                                    <div class="cart-price"> <span class="cart">&nbsp;</span> <strong class="price">$149.50</strong> </div>
                                </div>
                            </div>
                        </div>
                        <div title="eighth page">
                            <div class="right-page">
                                <div class="text">
                                    <h1>Parenting - For Early Years ddsadsad</h1>
                                    <strong class="name">by Bonnier</strong>
                                    <div class="rating-box"><img src="/Content/images/rating-img.png" alt="img"></div>
                                    <a href="#" class="btn-shop">SHOP NOW</a>
                                </div>
                                <div class="bottom">
                                    <div class="text">
                                        <div class="inner">
                                            <p>Curabitur lreaoreet nisl lorem in pellente e vidicus pannel impirus sadintas velisurabitur lreaoreet nisl lorem in pellente vidicus pannel.</p>
                                            <a href="#" class="readmore">Read More</a>
                                        </div>
                                        <div class="batch-icon"><img src="/Content/images/batch-img.png" alt="img"></div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </section>
   
