﻿@model IEnumerable<Kitaplar>
@{
    Layout = null;
}

<figure class="span4">
    <h4>@Resources.Home.ilgi_gorenler</h4>
    <ul class="f2-img-list">
                @foreach (var item in Model)
                {
                    <li>
                        <div class="left"><a href="book-detail.html"><img src="@item.kucukresim" alt="" /></a></div>
                        <div class="right"> <strong class="title"><a href="book-detail.html">@item.KitapAdi</a></strong> <span class="by-author">@item.text</span> <span class="rating-bar"><img src="~/Content/images/rating-star.png" alt="Rating Star" /></span> </div>
                    </li>
                }
</ul>
</figure>
