﻿@model IEnumerable<Kitaplar>

@{
    Layout = null;
}


<section class="row-fluid m-bottom">
    <section class="span9">
        <div class="featured-author">
            <div class="left">
                <span class="author-img-holder"><a href="about-us.html"><img src="/Content/images/ali.jpg" alt="" /></a></span>
                <div class="author-det-box">
                    <div class="ico-holder">
                        <div id="socialicons" class="hidden-phone"> <a id="social_linkedin" class="social_active" href="#" title="Visit Google Plus page"><span></span></a> <a id="social_facebook" class="social_active" href="#" title="Visit Facebook page"><span></span></a> <a id="social_twitter" class="social_active" href="#" title="Visit Twitter page"><span></span></a> </div>
                    </div>
                    
                    <div class="author-det">
                        <span class="title">@Resources.Home.ayin_yazari</span> <span class="title2">Sabahattin Ali</span>
                        <ul class="books-list">
                            @foreach (var item in Model)
                            {
                                <li><a href="book-detail.html"><img src="@item.kucukresim" alt="" /></a></li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="current-book">
                    <strong class="title"><a href="book-detail.html">Kürk Mantolu Madonna</a></strong>
                    <p>Sabahattin Ali'den bir baş yapıt ...</p>
                    <div class="cart-price"> <a href="cart.html" class="cart-btn2">@Resources.Home.karta_ekle</a> <span class="price">12.90</span> </div>
                </div>
                <div class="c-b-img"> <a href="book-detail.html"><img src="/Content/images/kürkmantolumadonna.jpg" alt="" /></a> </div>
            </div>
        </div>
    </section>
    <section class="span3 best-sellers">
        <div class="heading-bar">
            <h2>Best Sellers</h2>
            <span class="h-line"></span>
        </div>
        <div class="slider2">
            <div class="slide">
                <a href="book-detail.html"><img src="/Content/images/image15.jpg" alt="" /></a>
                <div class="slide2-caption">
                    <div class="left"> <span class="title"><a href="book-detail.html">Thousand Splendid Miles</a></span> <span class="author-name">by Khalid Housseini</span> </div>
                    <div class="right"> <span class="price">$139.50</span> <span class="rating-bar"><img src="/Content/images/rating-star.png" alt="Rating Star" /></span> </div>
                </div>
            </div>
            <div class="slide">
                <a href="book-detail.html"><img src="/Content/images/image15.jpg" alt="" /></a>
                <div class="slide2-caption">
                    <div class="left"> <span class="title"><a href="book-detail.html">Thousand Splendid Miles</a></span> <span class="author-name">by Khalid Housseini</span> </div>
                    <div class="right"> <span class="price">$139.50</span> <span class="rating-bar"><img src="/Content/images/rating-star.png" alt="Rating Star" /></span> </div>
                </div>
            </div>
            <div class="slide">
                <a href="book-detail.html"><img src="/Content/images/image15.jpg" alt="" /></a>
                <div class="slide2-caption">
                    <div class="left"> <span class="title"><a href="book-detail.html">Thousand Splendid Miles</a></span> <span class="author-name">by Mr. Khalid </span> </div>
                    <div class="right"> <span class="price">$139.50</span> <span class="rating-bar"><img src="/Content/images/rating-star.png" alt="Rating Star" /></span> </div>
                </div>
            </div>
        </div>
    </section>
</section>
