﻿@{
    ViewBag.Title = "EEBOOKS";
}

        <!-- Start Main Content Holder -->
<section id="content-holder" class="container-fluid container">
    <section class="row-fluid">
       @{Html.RenderAction("_Slider", "Home"); }
        <section class="span12 wellcome-msg m-bottom first">
            <h2>EEBOOKS.STORE @Resources.Home.hosgeldiniz!</h2>
            <p>Kitap okumanın en keyifli hali!</p>
        </section>
    </section>
    @*<section class="row-fluid ">
        <figure class="span4 s-product">
            <div class="s-product-img"><a href="book-detail.html"><img src="/Content/images/image02.jpg" alt="Image02" /></a></div>
            <article class="s-product-det">
                <h3><a href="book-detail.html">A Walk Across The Sun</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod dolore magna aliqua.</p>
                <span class="rating-bar"><img src="/Content/images/rating-star.png" alt="Rating Star" /></span>
                <div class="cart-price"> <a href="cart.html" class="cart-btn2">Add to Cart</a> <span class="price">$129.90</span> </div>
                <span class="sale-icon">Sale</span>
            </article>
        </figure>
        <figure class="span4 s-product">
            <div class="s-product-img"><a href="book-detail.html"><img src="/Content/images/image03.jpg" alt="Image02" /></a></div>
            <article class="s-product-det">
                <h3><a href="book-detail.html">Harry Potter</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod dolore magna aliqua.</p>
                <span class="rating-bar"><img src="/Content/images/rating-star.png" alt="Rating Star" /></span>
                <div class="cart-price"> <a href="cart.html" class="cart-btn2">Add to Cart</a> <span class="price">$44.95</span> </div>
                <span class="sale-icon">Sale</span>
            </article>
        </figure>
        <figure class="span4 s-product">
            <div class="s-product-img"><a href="book-detail.html"><img src="/Content/images/image04.jpg" alt="Image02" /></a></div>
            <article class="s-product-det">
                <h3><a href="book-detail.html">Sleeping Beauty</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod dolore magna aliqua.</p>
                <span class="rating-bar"><img src="/Content/images/rating-star.png" alt="Rating Star" /></span>
                <div class="cart-price"> <a href="cart.html" class="cart-btn2">Add to Cart</a> <span class="price">$223.00</span> </div>
                <span class="sale-icon">Sale</span>
            </article>
        </figure>
    </section>*@

    @{Html.RenderAction("_Last","Home"); }
    @{Html.RenderAction("Author","Home"); }
    <!-- Start BX Slider holder -->
    @*<section class="row-fluid features-books">
        <section class="span12 m-bottom">
            <div class="heading-bar">
                <h2>Featured Books</h2>
                <span class="h-line"></span>
            </div>
            <div class="slider1">
                <div class="slide">
                    <a href="book-detail.html"><img src="/Content/images/image05.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="/Content/images/rating-star.png" alt="Rating Star" /></span>
                    <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                </div>
                <div class="slide">
                    <a href="book-detail.html"><img src="/Content/images/image06.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="/Content/images/rating-star.png" alt="Rating Star" /></span>
                    <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                </div>
                <div class="slide">
                    <a href="book-detail.html"><img src="/Content/images/image07.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="/Content/images/rating-star.png" alt="Rating Star" /></span>
                    <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                </div>
                <div class="slide">
                    <a href="book-detail.html"><img src="/Content/images/image08.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="/Content/images/rating-star.png" alt="Rating Star" /></span>
                    <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                </div>
                <div class="slide">
                    <a href="book-detail.html"><img src="/Content/images/image09.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="/Content/images/rating-star.png" alt="Rating Star" /></span>
                    <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                </div>
                <div class="slide">
                    <a href="book-detail.html"><img src="/Content/images/image10.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="/Content/images/rating-star.png" alt="Rating Star" /></span>
                    <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                </div>
                <div class="slide">
                    <a href="book-detail.html"><img src="/Content/images/image06.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="/Content/images/rating-star.png" alt="Rating Star" /></span>
                    <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                </div>
                <div class="slide">
                    <a href="book-detail.html"><img src="/Content/images/image07.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="/Content/images/rating-star.png" alt="Rating Star" /></span>
                    <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                </div>
                <div class="slide">
                    <a href="book-detail.html"><img src="/Content/images/image08.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="/Content/images/rating-star.png" alt="Rating Star" /></span>
                    <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                </div>
                <div class="slide">
                    <a href="book-detail.html"><img src="/Content/images/image09.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="/Content/images/rating-star.png" alt="Rating Star" /></span>
                    <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                </div>
                <div class="slide">
                    <a href="book-detail.html"><img src="/Content/images/image10.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="/Content/images/rating-star.png" alt="Rating Star" /></span>
                    <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                </div>
                <div class="slide">
                    <a href="book-detail.html"><img src="/Content/images/image06.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="/Content/images/rating-star.png" alt="Rating Star" /></span>
                    <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                </div>
                <div class="slide">
                    <a href="book-detail.html"><img src="/Content/images/image05.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="/Content/images/rating-star.png" alt="Rating Star" /></span>
                    <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                </div>
            </div>
        </section>
    </section>*@
    <!-- End BX Slider holder -->
    <!-- Start Featured Author -->
    
    <!-- End Featured Author -->
    <section class="row-fluid m-bottom">
        <!-- Start Blog Section -->
        <section class="span9 blog-section">
            <div class="heading-bar">
                <h2>Latest from the Blog</h2>
                <span class="h-line"></span>
            </div>
            <div class="slider3">
                <div class="slide">
                    <div class="post-img"><a href="blog-detail.html"><img src="/Content/images/image18.jpg" alt="" /></a> <span class="post-date"><span>02</span> May</span> </div>
                    <div class="post-det">
                        <h3><a href="blog-detail.html">Our latest arrival is the Spring Summer 2013 Book Fair</a></h3>
                        <span class="comments-num">6 comments</span>
                        <p>Gluten-free quinoa selfies carles, kogi gentrify retro marfa viral. Aesthetic before they sold out put a bird on it sriracha typewriter. Skateboard viral irony tonx ... </p>
                    </div>
                </div>
                <div class="slide">
                    <div class="post-img"><a href="blog-detail.html"><img src="/Content/images/image29.jpg" alt="" /></a> <span class="post-date"><span>24</span> Oct</span> </div>
                    <div class="post-det">
                        <h3><a href="blog-detail.html">Our latest arrival is the Spring Summer 2012 Book Fair</a></h3>
                        <span class="comments-num">48 comments</span>
                        <p>Gluten-free quinoa selfies carles, kogi gentrify retro marfa viral. Aesthetic before they sold out put a bird on it sriracha typewriter. Skateboard viral irony tonx ... </p>
                    </div>
                </div>
                <div class="slide">
                    <div class="post-img"><a href="blog-detail.html"><img src="/Content/images/image30.jpg" alt="" /></a> <span class="post-date"><span>10</span> Aug</span> </div>
                    <div class="post-det">
                        <h3><a href="blog-detail.html">Our latest arrival is the Spring Summer 2011 Book Fair</a></h3>
                        <span class="comments-num">24 comments</span>
                        <p>Gluten-free quinoa selfies carles, kogi gentrify retro marfa viral. Aesthetic before they sold out put a bird on it sriracha typewriter. Skateboard viral irony tonx ... </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Blog Section -->
        <!-- Start Testimonials Section -->
        <section class="span3 testimonials">
            <div class="heading-bar">
                <h2>Testimonials</h2>
                <span class="h-line"></span>
            </div>
            <div class="slider4">
                <div class="slide">
                    <div class="author-name-holder"> <img src="/Content/images/image19.png" /> </div>
                    <strong class="title">Robert Smith <span>Manager</span></strong>
                    <div class="slide">
                        <p>Lorem ipsum dolor slo onsec nelioro tueraliquet Morbi nec In Curabitur lorem in design Morbi nec In Curabituritus gojus, </p>
                    </div>
                </div>
                <div class="slide">
                    <div class="author-name-holder"> <img src="/Content/images/image19.png" /> </div>
                    <strong class="title">Mr. Khalid Hosseini <span>Manager</span></strong>
                    <div class="slide">
                        <p>Gluten-free quinoa selfies carles, kogi gentrify retro marfa viral. Aesthetic before they sold out put a bird on it sriracha typewriter. Skateboard viral irony tonx ... </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Testimonials Section -->
    </section>
</section>
<!-- End Main Content Holder -->
<!-- Start Footer Top 1 -->
<section class="container-fluid footer-top1">
    <section class="container">
        <section class="row-fluid">
            <figure class="span3">
                <h4>Newsletter</h4>
                <p>Subscribe to be the first to know about Best Deals and Exclusive Offers!</p>
                <input name="" type="text" class="field-bg" value="Enter Your Email" />
                <input name="" type="submit" value="Subscribe" class="sub-btn" />
            </figure>
            <figure class="span3">
                <h4>Twitter</h4>
                <ul class="tweets-list">
                    <li>Bookshoppe’- WooCommerce theme by crunchpress http<a href="#">://z.8o/XcexW23Q #envato</a></li>
                    <li>Bookshoppe’- WooCommerce theme by crunchpress http<a href="#">://z.8o/XcexW23Q #envato</a></li>
                </ul>
            </figure>
            <figure class="span3">
                <h4>Location</h4>
                <p>5/23, Loft Towers, Business Center, 6th Floor, Media City, Dubai.</p>
                <span>
                    <ul class="phon-list">
                        <li>(971) 438-555-314</li>
                        <li>(971) 367-252-333</li>
                    </ul>
                </span> <span class="mail-list">
                    <a href="#">info@companyname</a><br />
                    <a href="#">jobs@companyname.com</a>
                </span>
            </figure>
            <figure class="span3">
                <h4>Opening Time</h4>
                <p>Monday-Friday ______8.00 to 18.00</p>
                <p>Saturday ____________ 9.00 to 18.00</p>
                <p>Sunday _____________10.00 to 16.00</p>
                <p>Every 30 day of month Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </figure>
        </section>
    </section>
</section>
<!-- End Footer Top 1 -->