﻿
@{
    ViewBag.Title = "Online Mağaza";

}

<section id="content-holder" class="container-fluid container">
    <section class="row-fluid">
        <div class="heading-bar">
            <h2>@Resources.Home.online_magaza</h2>
            <span class="h-line"></span>
        </div>
        <!-- Start Main Content -->
        <section class="span9 first">
            <!-- Start Grid View Section -->
            <div class="product_sort">
                <div class="row-1">
                    <div class="left">
                        <span class="s-title">Sort by</span>
                        <span class="list-nav">
                            <select name="">
                                <option>Position</option>
                                <option>Position 2</option>
                                <option>Position 3</option>
                                <option>Position 4</option>
                            </select>
                        </span>
                    </div>
                    <div class="right">
                        <span>Show</span>
                        <span>
                            <select name="">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </span>
                        <span>per page</span>
                    </div>
                </div>
                <div class="row-2">
                    <span class="left">Items 1 to 9 of 15 total</span>
                    <ul class="product_view">
                        <li>View as:</li>
                        <li>
                            <a class="grid-view" href="grid-view.html">Grid View</a>
                        </li>
                        <li>
                            <a class="list-view" href="list-view.html">List View</a>
                        </li>
                    </ul>
                </div>
            </div>
          
            @{Html.RenderAction("_Books", "Home"); }

            <div class="blog-footer">
                <div class="pagination">
                    <ul>
                        <li><a href="#">Prev</a></li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>

                <ul class="product_view">
                    <li>View as:</li>
                    <li><a class="grid-view" href="grid-view.html">Grid View</a></li>
                    <li><a class="list-view" href="list-view.html">List View</a></li>
                </ul>
            </div>
            <!-- End Grid View Section -->
        </section>
        <!-- End Main Content -->
        <!-- Start Main Side Bar -->
        <section class="span3">
            <div class="side-holder">
                <article class="banner-ad"><img src="~/Content/images/image20.jpg" alt="Banner Ad" /></article>
            </div>

            <!-- Start Shop by Section -->
            <div class="side-holder">
                <article class="shop-by-list">
                    <h2>Shop by</h2>
                    <div class="side-inner-holder">
                        <strong class="title">Category</strong>
                        <ul class="side-list">
                            <li><a href="grid-view.html">Fiction (15)</a></li>
                            <li><a href="grid-view.html">Healthcare (15)</a></li>
                            <li><a href="grid-view.html">Technology (15)</a></li>
                            <li><a href="grid-view.html">Science(15)</a></li>
                        </ul>
                        <strong class="title">Price</strong>
                        <ul class="side-list">
                            <li><a href="#">$0.00 - $10,00.00 (13)</a></li>
                            <li><a href="#">$10,00.00 - $20,00.00 (2)</a></li>
                        </ul>
                        <strong class="title">Author</strong>
                        <ul class="side-list">
                            <li><a href="book-detail.html">Khalid Hoessini (9)</a></li>
                            <li><a href="book-detail.html">William Blake (2)</a></li>
                            <li><a href="book-detail.html">Anna Kathrinena (1)</a></li>
                            <li><a href="book-detail.html">Gray Alvin (3)</a></li>
                        </ul>
                    </div>
                </article>
            </div>
            <!-- End Shop by Section -->
            <!-- Start Latest Reviews Section -->
            <div class="side-holder">
                <article class="l-reviews">
                    <h2>Latest Reviews</h2>
                    <div class="side-inner-holder">
                        <article class="r-post">
                            <div class="r-img-title">
                                <img src="~/Content/images/image21.jpg" />
                                <div class="r-det-holder">
                                    <strong class="r-author"><a href="book-detail.html">The Kite Runner</a></strong>
                                    <span class="r-by">by Khalid Hoessini</span>
                                    <span class="rating-bar"><img src="~/Content/images/rating-star.png" alt="Rating Star" /></span>
                                </div>
                            </div>
                            <span class="r-type">Vivamus bibendum massa</span>
                            <p>“ Suspendisse tortor lacus, suscipit eget pharetra sed, ornare sed elit. Curabitur mollis, justo sit amet fermentum ” </p>
                            <span class="r-author">Review by BookShoppe’</span>
                        </article>
                        <article class="r-post">
                            <div class="r-img-title">
                                <img src="~/Content/images/image21.jpg" />
                                <div class="r-det-holder">
                                    <strong class="r-author"><a href="book-detail.html">The Kite Runner</a></strong>
                                    <span class="r-by">by Khalid Hoessini</span>
                                    <span class="rating-bar"><img src="~/Content/images/rating-star.png" alt="Rating Star" /></span>
                                </div>
                            </div>
                            <span class="r-type">Vivamus bibendum massa</span>
                            <p>“ Suspendisse tortor lacus, suscipit eget pharetra sed, ornare sed elit. Curabitur mollis, justo sit amet fermentum ” </p>
                            <span class="r-author">Review by BookShoppe’</span>
                        </article>
                    </div>
                </article>
            </div>
            <!-- End Latest Reviews Section -->
            <!-- Start Price Range Section -->
            <div class="side-holder">
                <article class="price-range">
                    <h2>Price Range</h2>
                    <div class="side-inner-holder">
                        <p>Select the price range for better search</p>
                        <div id="slider-range"></div>
                        <p> <input type="text" id="amount" class="r-input"> </p>
                    </div>
                </article>
            </div>
            <!-- End Price Range Section -->
            <!-- Start Community Poll Section -->
            <div class="side-holder">
                <article class="price-range">
                    <h2>Community Poll</h2>
                    <div class="side-inner-holder">
                        <p>Who is your favourite American author?</p>
                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                            Jane Austin
                        </label>
                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                            William Blake
                        </label>
                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                            Keith Urban
                        </label>
                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                            Anna Smith
                        </label>
                        <a href="#" class="vote-btn">Vote</a>
                    </div>
                </article>
            </div>
            <!-- End Community Poll Section -->

        </section>
    </section>
</section>
<!-- End Main Side Bar -->




<script type="text/javascript" src="~/Scripts/lib.js"></script><!-- lib Js -->
<script type="text/javascript" src="~/Scripts/modernizr.js"></script><!-- Modernizr -->
<script type="text/javascript" src="~/Scripts/easing.js"></script><!-- Easing js -->
<script type="text/javascript" src="~/Scripts/bs.js"></script><!-- Bootstrap -->
<script type="text/javascript" src="~/Scripts/bxslider.js"></script><!-- BX Slider -->
<script type="text/javascript" src="~/Scripts/input-clear.js"></script><!-- Input Clear -->
<script src="~/Scripts/range-slider.js"></script><!-- Range Slider -->
<script src="~/Scripts/jquery.zoom.js"></script><!-- Zoom Effect -->
<script type="text/javascript" src="~/Scripts/bookblock.js"></script><!-- Flip Slider -->
<script type="text/javascript" src="~/Scripts/custom.js"></script><!-- Custom js -->
<script type="text/javascript" src="~/Scripts/social.js"></script><!-- Social Icons -->
<!-- JS Files End -->
<noscript>
    <style>
        #socialicons > a span {
            top: 0px;
            left: -100%;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        #socialicons > ahover div {
            left: 0px;
        }
    </style>
</noscript>
<script type="text/javascript">
    /* <![CDATA[ */
    $(document).ready(function () {
        $('.social_active').hoverdir({});
    })
    /* ]]> */
</script>